.main-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto 50px ;
    padding: 0 20px;
}

.img1 {
    display: flex;
    height: auto;
    max-width: 400px;
    margin-bottom: 20px;
}

.img1 img {
    max-width: 100%;
    height: auto;
}

.box {
    background-color: #FFFFFF80;
    width: 100%;
    max-width: 550px;
    border-radius: 16px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 30px;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pay {
    position: relative;
    width: 130px;
    margin-bottom: 20px;
}

.paym {
    font-size: 30px;
    margin: 0;
    padding: 10px 0;
}

.paym::after {
    position: absolute;
    content: "";
    background-color: black;
    height: 2px;
    width: 130px;
    bottom: -2px;
    left: 0%;
}

.dd {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.cc {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.flip-card {
    background-color: transparent;
    width: 240px;
    height: 154px;
    perspective: 1000px;
    color: white;
    margin: 20px auto;
    padding-top: 15px;
    box-sizing: content-box !important;
}

.heading_8264 {
    position: absolute;
    letter-spacing: .2em;
    font-size: 0.5em;
    top: 2em;
    left: 18.6em;
}

.log {
    position: absolute;
    top: 6.8em;
    left: 11.7em;
}

.chip {
    position: absolute;
    top: 2.3em;
    left: 1.5em;
}

.contactless {
    position: absolute;
    top: 3.5em;
    left: 12.4em;
}

.number {
    position: absolute;
    font-weight: bold;
    font-size: .6em;
    top: 8.3em;
    left: 1.6em;
}

.valid_thru {
    position: absolute;
    font-weight: bold;
    top: 635.8em;
    font-size: .01em;
    left: 140.3em;
}

.date_8264 {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 13.6em;
    left: 3.2em;
}

.name {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 16.1em;
    left: 2em;
}

.strip {
    position: absolute;
    background-color: black;
    width: 15em;
    height: 1.5em;
    top: 2.4em;
    background: repeating-linear-gradient(
    45deg,
    #303030,
    #303030 10px,
    #202020 10px,
    #202020 20px);
}

.mstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 8em;
    height: 0.8em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
}


.sstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 4.1em;
    height: 0.8em;
    top: 5em;
    left: 10em;
    border-radius: 2.5px;
}

.code {
    font-weight: bold;
    text-align: center;
    margin: .2em;
    color: black;
    font-size: 10px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 #f3eee4;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #8aa8ab;
}

.flip-card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #8aa8ab;
    transform: rotateY(180deg);
}

.card1 {
    width: 100%;
    margin-top: 20px;
}

.card, .Expiration, .cvv {
    font-size: 1.25rem;
    font-weight: normal;
    color: rgb(41, 38, 38);
    display: block;
    margin-bottom: 10px;
}

.cardbox, .Expirationbox, .cvvbox {
    width: 100%;
    height: 40px;
    border: 1px solid #432212;
    background-color: white;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 15px;
}

.Expirationbox, .cvvbox {
    max-width: 200px;
}

.savecard {
    display: flex;
    margin: 15px 20px 25px;
}



.check {
    color: var(--subColor);
    width: fit-content;
}

.savecard label {
    margin-left: 5px;
    color: rgb(161, 155, 155);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.paynow {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.paynow button {
    background-color: #44b678;
    padding: 12px 70px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease;
}

.paynow button:hover {
    background-color: #00ff00;
    transform: scale(1.05);
}



input {
    width: 100%;
    font-size: 16px;
    background-color: #f7f3f0;
    border-radius: 10px;
    padding: 13px 9px;
    color: black;
    transition: all 0.3s ease;
    border: 2px solid var(--subColor);
}

input:focus{
    transform: translateY(-3px);
    border: 2px solid rgba(0, 0, 0);
}

.check:focus {
    transform: translateY(0px);
}




@media screen and (min-width: 768px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }

    .check-out {
        color: var(--subColor);
        font-size: 2rem;
        padding-left: 20px;
    }

    .content-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 1;
        gap: 20px;
    }

    .total {
        width: 60%;
    }
    .left-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        max-width: 600px;
        padding-left: 60px;
    }
}

@media screen and (max-width: 767px) {
    .check-out {
        text-align: center;
        margin-left: 0;
        color: var(--subColor);
        font-size: 1.8rem;
        padding: 0 30px;
    }


    .img1 {
        position: static;
        margin: 0 auto 20px;
        display: flex;
        justify-content: center;
    }

    .box {
        position: static;
        margin: 0 auto;
    }

    .cardbox, .Expirationbox, .cvvbox {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .check-out {
        font-size: 1.5rem;
    }

    .paym {
        font-size: 1.5rem;
    }

    .paynow2 {
        padding: 10px 40px;
    }
    .left-section {

        margin-top: 50px;
    }
}

@media screen and (min-width: 480px) {
    .left-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
}