.Search {
   display: flex;
   justify-content: center;
   margin-bottom: 40px;
} 

input {
   width: 100%;
   max-width: 500px;
   height: 60px;
   border: none;
   background-color: #D9D9D9;
   border: 1px solid rgba(0, 0, 0, 0.5);
   cursor: auto;
   text-align: center;
   border-radius: 20px;
   font-size: 20px;
   padding: 0 15px;
   transition: all 0.3s ease;
}
input:focus {
   border: 2px solid black;
   transform: translateY(-4px);
}

.main {
   max-width: 1200px;
   margin: 30px auto;
   padding: 0 15px;
   position: relative;
   display: flex;
   flex-direction: column;
}

.All-Products {
   display: flex;
   flex-wrap: wrap;
   gap: 60px;
   justify-content: center;
}

.product-item {
   width: calc(30% - 20px);
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 20px;
   transition: all 0.3s ease;
}

.product-item .img{
   width: 100%;
   overflow: hidden;
   border-radius: 20px;
}

.product-item img {
   width: 100%;
   height: 250px;
   object-fit: cover;
   margin-bottom: 5px;
   transition-duration: 0.3s;
}

.product-item .img:hover img {
   transform: scale(1.05);
}

/* details */
.details  {
   display: flex;
   justify-content: space-between;
   width: 100%;
   background-color: #C7804569;
   margin-bottom: 5px;
   border-radius: 5px;
   padding: 8px 15px;
   color: black;
   font-weight: bold;
   gap: 10px;
   flex-direction: row-reverse;
   align-items: center;
   border: 1px solid black;
}
.button-group {
   display: flex;
   gap: 10px;
   width: 100%;
}

.add {
   background-color: rgb(250, 239, 204);
   padding: 8px 16px;
   border-radius: 8px;
   cursor: pointer;
   color: #8aa8ab;
   width: 100%;
   transition: all 0.3s ease;
   font-size: 18px;
   border: 1px solid black;
}

.add:hover {
   background-color: rgb(250, 230, 165);
}

.buy {
   border: solid 1px #e0e0e0;
   background-color: #8aa8ab;
   color: white;
   padding: 8px 18px;
   border-radius: 8px;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
   transition: all 0.3s ease;
}

.buy:hover {
   background-color: #3cb3ebb7;
}

.button{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 70px 0;
}
.toDonation {
   background-color: var(--accentColor);
   color: white;
   border: none;
   padding: 12px 40px;
   font-size: 16px;
   cursor: pointer;
   font-weight: bold;
   border-radius: 13px;
   transition: all 0.3s ease;
}

.toDonation:hover {
   background-color: var(--subColor);
   transform: translateY(-3px);
}


/* Responsive styles */
@media (max-width: 1024px) {
   .product-item {
      width: calc(50% - 40px);
   }
   .All-Products {
      gap: 60px;
   }
}

@media (max-width: 900px) {
   .All-Products {
      gap: 20px;
   }

}
@media (max-width: 600px) {
   .product-item {
      width: 100%;
   }

   .product-item img {
      width: 100%;
      height: 400px; 
}

   .Search {
      position: static;
      margin-bottom: 30px;
   }

   input {
      max-width: 100%;
   }

   .toDonation {
      width: 100%;
      position: static;
      margin-top: 30px;
      text-align: center;
   }
}