body {
    font-family: Arial, sans-serif;
    background-color: var(--mainColor);
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Main Content */
.about-user{
    flex: 1;
    padding: 40px 0;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.login-form {
    width: 45%;
    padding: 15px;
}

.image {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    max-width: 100%;
    height: auto;
    padding-left: 30px;
    min-width: 350px;
}

.form {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
    margin-left: 5px;
    color: var(--subColor);
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    font-size: 16px;
    background-color: #f7f3f0;
    border-radius: 10px;
    padding: 13px 9px;
    color: black;
    transition: all 0.3s ease;
    border: 2px solid var(--subColor);
}

input:focus{
    transform: translateY(-3px);
    border: 2px solid rgba(0, 0, 0);
}

.remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    gap: 20px;
}

.rembmerMe {
    accent-color: var(--subColor);
}

.rembmerMe:focus {
    transform: translateY(0px);
}


.create-acc {
    color: var(--subColor);
    padding-left: 10px;
    margin-bottom: 8px;
}
.create-acc a{
    color: var(--subColor);
    text-decoration: underline;
    margin-bottom: 20px;
    font-weight: bold;
}

.login {
    background-color: var(--accentColor);
    color: white;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 13px;
    transition: all 0.3s ease;
}

.login:hover {
    background-color: var(--subColor);
    transform: translateY(-3px);
}

/* Responsive Styles */
@media (max-width: 900px) {
    .login-container {
        flex-direction: column-reverse;
    }

    .login-form, .login-image {
        width: 100%;
    }

    .login-form {
        margin-bottom: 40px;
    }
}



@media (max-width: 480px) {
    .login-image {
        display: none;
    }

    .login-form {
        width: 100%;
    }

    .remember-forgot {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .login {
        width: 100%;
        max-width: none;
    }
}

#message {
    color: darkred;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 10px;
}